<html>

<head>
  <title>BLOG</title>
  <link rel="stylesheet" href="./css/styles.css" /> </head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<body>

    <div class="header">
      <div class="title">
        <p id="name" class="firstname">SAYYID</p><br>
        <h1  class="middlename">MUHAMMED</h1><br>
        <p class="lastname">ISHAQ</p>
      </div>
    </div>
    <div class="navigation">
      <ul>
      <li><a class="contactme"href="#">EMAIL ME</a></li><br><hr>
      <li><p class="aboutme">ABOUT ME<br><br>I am <a class="name" href="#">MUHAMMED</a>. I like Webdeveloping because I learned it on my own. Do you ever get your area of interest from other persons, because I do</p></li>
      </ul>
    </div>
</body>

</html>
