<html>

<head>
  <title>BLOG</title>
  <link rel="stylesheet" href="./css/styles.css" /> </head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<body>
   <div class="page"></div>
    <div class="header">
      <div class="title">
        <p id="name" class="firstname">SAYYID</p><br>
        <h1  class="middlename">MUHAMMED</h1><br>
        <p class="lastname">ISHAQ</p>
        
      </div>
      
    </div>
    <div class="navigation">
      <ul>
      <li><p class="aboutme">ABOUT ME<br><br>I am <a class="name" href="#">MUHAMMED</a>. I like Webdeveloping because I learned it on my own. Do you ever get your area of interest from other persons, because I do</p></li>
      </ul>
    </div>
</div>
  <div class="container" id="contact-form">
      <p class="chead">EMAIL ME</p>
     <form action="/action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Email ID</label>
    <input type="text" id="emailid" name="emailid" placeholder="Enter Your Email...">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>

<footer>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
</footer>
</body>

</html>
